page-home {
  ion-item-sliding {
    margin: 5px;
  }

  .home-item {
    font-size: 1em;
    font-weight: bold;
    color: #282828;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .custom-creation-date {
    font-size:.8em;
    font-weight: lighter;
    color: gray;

  }
}
