page-intro {
  ion-slide {
    background-color: #102f4c;
    color: #ebebeb;

  }

  h1 {
    font-size: 30px;
  }

  p {
      font-size: 22px;
      margin: 15px;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .intro-button {
    margin-bottom: 15px;
  }
}
